Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/tsao/sidebar.html">Edit</a>):

<br>
<a href="{{ '/' | relative_url }}">&#x25B6 Wiki Home</a>

<details><summary>&#x25B6 Tsao Lab Onboarding </summary>

<ul>
  <li><a href="Installation#first-day">On your first day</li>
  <li><a href="Installation#safety training">Safety Training</li>
  <li><a href="NHP Training">NHP Training</li>
</ul>

</details>



<hr />

<a href="{{ '/changelogs.html' | relative_url }}">Changelogs</a>


<hr />
