Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/tsao/sidebar.html">Edit</a>):

<br>
<a href="{{ '/' | relative_url }}">&#x25B6 Wiki Home</a>

<details><summary>&#x25B6 Tsao Lab Onboarding </summary>
<ul>
  <li><a href="getting-started#first day">On Your First Day</a></li>
  <li><a href="getting-started#safety training">Safety Training</a></li>
</ul>
</details>


<details><summary>&#x25B6 NHP Training </summary>
<ul>
  <li><a href="NHP chair training">NHP chair training</a></li>
  <li><a href="Cleaning monkey chambers">Cleaning monkey chambers</a></li>
  <li><a href="Fixation Training">Fixation Training</a></li>
  <li><a href="Overview of fMRI-guided electrophysiology">Overview of fMRI-guided electrophysiology</a></li>
</ul>
</details>



<hr style="height:1px;border:none;color:#333;background-color:#333;">

<a href="{{ '/changelogs.html' | relative_url }}">Changelogs</a>
<br>
<hr style="height:1px;border:none;color:#333;background-color:#333;">
