<a href="https://riverarchitect.github.io/RA_wiki/main_page">Wiki Home</a> 


<hr />

<p><details><summary>Installation</summary><p></p>

<ul>
  <li><a href="Installation#started">Install <em>River Architect</em></a></li>
  <li><a href="Installation#update_ra">Update <em>River Architect</em></a></li>
  <li><a href="Installation#launch_ra">Launch <em>River Architect</em></a></li>
  <li><a href="Installation#structure">Program file structure</a></li>
  <li><a href="Installation#req">Requirements and dependencies</a></li>
  <li><a href="Installation#logs">Logfiles</a></li>
</ul>

<p></p></details></p>

<p><details><summary>Get Started</summary><p></p>

<ul>
  <li><a href="Signposts#getstarted">Get Started</a>
    <ul>
      <li><a href="Signposts#new-condition">Create <em>Condition</em>s</a></li>
	  <li><a href="Signposts#mu"> <em>Morphological unit Raster</em>s</a></li>
	  <li><a href="Signposts#d2w"> <em>Depth-to-water-table Raster</em>s</a></li>
	  <li><a href="Signposts#det"> <em>Detrended DEM Raster</em>s</a></li>
      <li><a href="Signposts#ana-flows">Analyze Flows</a></li>
      <li><a href="Signposts#inpfile">Input definition files</a></li>
      <li><a href="Signposts#inmaps">Map extent definition files</a></li>
    </ul>
  </li>

    <li><a href="Signposts#terms">Geofile name conventions</a></li>

    <li><a href="Signposts#inputs">Prepare input Rasters</a></li>
  </ul>
<p></p></details></p>

<p><details><summary>Lifespans</summary><p></p>
<ul>
  <li><a href="LifespanDesign">Lifespan Design</a></li>
    <ul>
      <li><a href="LifespanDesign">Introduction</a></li>
      <li><a href="LifespanDesign#lfgui">Quick GUIde</a></li>
      <li><a href="LifespanDesign#modthresh">Set threshold values (<code>threshold_values.xlsx</code>)</a></li>
      <li><a href="LifespanDesign-parameters">Parameter hypothesis</a></li>
      <li><a href="River-design-features">River design and restoration <strong>features</strong></a></li>
      <li><a href="LifespanDesign-code">Code extension and modification</a></li>
    </ul>

  <li><a href="MaxLifespan">Max Lifespan</a></li>
    <ul>
      <li><a href="MaxLifespan">Introduction</a></li>
      <li><a href="MaxLifespan#actgui">Quick GUIde</a></li>
      <li><a href="MaxLifespan#actoutput">Output</a></li>
      <li><a href="MaxLifespan#actprin">Working principles</a></li>
      <li><a href="MaxLifespan#actcode">Code extension and modification</a></li>
    </ul>
</ul>
<p></p></details></p>

<p><details><summary>Morphology (Terraforming)</summary><p></p>
  <ul>
    <li><a href="RiverReaches">River <strong>Reach</strong> definitions</a></li>
    <li><a href="ModifyTerrain">Modify Terrain</a></li>
      <ul>
        <li><a href="ModifyTerrain">Introduction</a></li>
        <li><a href="ModifyTerrain#mtgui">Quick GUIde</a></li>
        <li><a href="ModifyTerrain#mtdemmod">Threshold-based Grading and Widening (Broaden)</a></li>
        <li><a href="RiverBuilder">River Builder</a></li>
      </ul>
    <li><a href="VolumeAssessment">Volume Assessment</a></li>
      <ul>
        <li><a href="VolumeAssessment">Introduction</a></li>
        <li><a href="VolumeAssessment#gui">Quick GUIde</a></li>
        <li><a href="VolumeAssessment#vaprin">Working principle</a></li>
        <li><a href="VolumeAssessment#vacode">Set level of detection</a></li>
      </ul>
  </ul>
<p></p></details></p>

<p><details><summary>Ecohydraulics</summary><p></p>
  <ul>
    <li><a href="SHArC">Seasonal Habitat Area Calculator (SHArC)</a></li>
      <ul>
        <li><a href="SHArC">Introduction</a></li>
        <li><a href="SHArC#hegui">Quick GUIde</a></li>
        <li><a href="SHArC#hefish">Physical Habitats for Fish</a></li>
        <li><a href="SHArC#herunSHArea">SHArea calculation</a></li>
        <li><a href="SHArC-working-principles#heprin">Working principles</a></li>
        <li><a href="aqua-modification#hecode">Edit Fish template</a></li>
      </ul>
    <li><a href="StrandingRisk">Stranding Risk</a></li>
	  <ul>
		  <li><a href="StrandingRisk#intro">Introduction</a></li>
		  <li><a href="StrandingRisk#guide">Quick GUIde</a></li>
		  <li><a href="StrandingRisk#defining-travel-thresholds">Travel Thresholds</a></li>
		  <li><a href="StrandingRisk#methodology">Methodology</a></li>
		  <li><a href="StrandingRisk#references">References</a></li>
	  </ul>
	<li><a href="RSR">Riparian Seedling Recruitment (RSR)</a></li>
	  <ul>
		  <li><a href="RSR#intro">Introduction</a></li>
		  <li><a href="RSR#rsr-quick">Quick GUIde</a></li>
		  <li><a href="RSR#species-rc">Defining Criteria</a></li>
		  <li><a href="RSR#methods">Methodology</a></li>
		  <li><a href="RSR#references">References</a></li>
     </ul>
<p></p></details></p>

<p><details><summary>ProjectMaker</summary><p></p>
  <ul>
    <li><a href="ProjectMaker">Introduction</a></li>
    <li><a href="ProjectMaker#pmquick">Quick GUIde</a></li>
    <li><a href="ProjectMaker#pmcq"><strong>Cost</strong> quantity assessment</a></li>
    <li><a href="ProjectMaker#pmSHArea">Ecological benefit assessment (Calculate <strong>SHArea</strong>)</a></li>
  </ul>
<p></p></details></p>

<p><details><summary>Mapping</summary><p></p>
  <ul>
    <li><a href="Mapping">Introduction</a></li>
    <li><a href="Mapping#lyts">Layouts</a></li>
    <li><a href="Mapping#symbology">Modify symbology</a></li>
    <li><a href="Mapping#extent">Extents</a></li>
    <li><a href="Mapping#code">Code information</a></li>
  </ul>
<p></p></details></p>

<p><details><summary>Tools</summary><p></p>
  <ul>
    <li><a href="Tools">Introduction</a></li>
    <li><a href="Tools#scripts">Scripts</a></li>
  </ul>
<p></p></details></p>

<p><details><summary>FAQ</summary><p>
   <ul>
    <li><a href="FAQ">FAQ</a></li>
  </ul>
</p></details></p>

<p><details><summary>Troubleshooting</summary><p></p>
  <ul>
    <li><a href="Troubleshooting#issues">Known Issues</a></li>
    <li><a href="Troubleshooting#howto">How to troubleshoot</a></li>
    <li><a href="Troubleshooting#error-messages">Error messages</a></li>
    <li><a href="Troubleshooting#warning-messages">Warning messages</a></li>
  </ul>
<p></p></details></p>

<hr />

<p><details><summary>Keywords</summary><p></p>
  <ul>
    <li><a href="SHArC#hecombine">combined Habitat Suitability Index (<em>cHSI</em>)</a></li>
    <li><a href="Signposts#conditions">Conditions</a></li>
    <li><a href="Signposts#d2w">Depth to groundwater</a></li>
    <li><a href="Signposts#det">Detrended DEM</a></li>
    <li><a href="River-design-features">Features</a></li>
	<li><a href="Signposts#inpfile">Input Files</a></li>
    <li><a href="Signposts#ana-flows">Lifespans and Return periods</a></li>
    <li><a href="Signposts#mu">Morphological Units</a></li>
    <li><a href="LifespanDesign#inpras">Parameter calculation</a></li>
    <li><a href="SHArC#hefish">Physical Habitat and Fish</a></li>
	<li><a href="RiverReaches">Reaches (river)</a></li>
	<li><a href="Installation#req">Requirements</a></li>
    <li><a href="SHArC#herunSHArea">Seasonal Habitat Area (SHArea)</a></li>
    <li><a href="LifespanDesign#modthresh">Threshold values (lifespans)</a></li>
  </ul>
<p></p></details></p>

<p><details><summary>Acknowledgment</summary><p></p>
  <ul>
    <li><a href="Acknowledgment">Acknowledgment and funding</a></li>
  </ul>
<p></p></details></p>

<p><details><summary>Disclaimer</summary><p></p>
  <ul>
    <li><a href="Disclaimer">Disclaimer</a></li>
  </ul>
<p></p></details></p>

<hr />

<p><details><summary>Developers (Contributing)</summary><p>
   <ul>
    <li><a href="DevModule">Overview</a></li>
    <li><a href="DevModule#addmod">Add modules</a></li>
	<li><a href="DevWiki">Edit the Wiki</a></li>
	<li><a href="DevGit">Using git</a></li>
	<li><a href="Dev2do">To-do list</a></li>
  </ul>
</p></details></p>

<hr />


