Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/tsao/sidebar.html">Edit</a>):

<a href="{{ '/' | relative_url }}">Wiki Home</a>


<p><details><summary> Tsao Lab Onboarding </summary><p></p>

<ul>
  <li><a href="Installation#started">Install <em>River Architect</em></a></li>
  <li><a href="Installation#update_ra">Update <em>River Architect</em></a></li>
  <li><a href="Installation#launch_ra">Launch <em>River Architect</em></a></li>
  <li><a href="Installation#structure">Program file structure</a></li>
  <li><a href="Installation#req">Requirements and dependencies</a></li>
  <li><a href="Installation#logs">Logfiles</a></li>
</ul>

<p></p></details></p>


<hr />

<a href="{{ '/changelogs.html' | relative_url }}">Changelogs</a>


